.highway__vector {
  width: 50px;
  aspect-ratio: 35/12;
  background-image: url("../../../images/vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 15%;
  top: 30%;
}

@media screen and (max-width: 767px) {
  .highway__vector {
    width: 10.94vw;
  }
}